.banner-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.banner-flex img {
  width: 30rem;
}
.Banner-text-section {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
